* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  text-align: center;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 1em 0;
}
.btn {
  padding: 10px;
  font-size: 18px;
  margin: 8px;
}
#nav {
  background: #333;
}
#navbar,
#sidebar {
  display: none;
}
#sidebar {
  background: #333;
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
}

#sidebar h3 {
  font-size: 22px;
  color: white;
  text-align: center;
  background: chartreuse;
  user-select: none;
}
#sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 20px;
  line-height: 65px;
  color: white;
  padding-left: 40px;
  transition: 0.4s;
}
#sidebar ul li {
  border-bottom: 1px solid #aeaeae;
  margin: 8px;
}
#sidebar ul li:hover {
  padding-left: 5px;
}
#showcase {
  min-height: 450px;
  color: #fff;
}
#showcase h1 {
  padding-top: 80px;
  padding-left: 10px;
}
#showcase .bg-image {
  position: absolute;
  background: #333 url('/img/codes.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: -1;
  opacity: 0.4;
}

#showcase .btn-read {
  display: inline-block;
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 0.9em 1em;
  border: 1px solid #666;
}
#showcase .btn:hover {
  background: #eaeaea;
  color: #333;
}
#showcase #profile {
  width: 100%;
  height: 300px;
}

/* Project Section */
#section-project {
  text-align: center;
  padding: 2em 1em;
}

#section-project ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#section-project li {
  background: #fff;
  margin-bottom: 1em;
  color: #333;
}
.card {
  border-radius: 2%;
  box-shadow: 0.5px 0.5px #aeaeae;
}
.card p {
  padding: 1em;
}

#section-about {
  text-align: center;
  margin: 0;
}
#section-about img {
  text-align: center;
  width: 100%;
  height: auto;
  margin: 1em;
  border-radius: 10%;
}
#section-about .skills {
  margin: 0.5em;
  padding: 1em;
  text-align: center;
}
#section-about .skill-percent {
  height: 20px;
  background: chartreuse;
  width: 0;
  border-radius: 5%;
  text-align: center;
}

#section-contact {
  text-align: center;
  padding-bottom: 4em;
}
#form .form-input {
  width: 100%;
  display: block;
  padding: 10px;
  margin: 1em 1.5em;
  border: 1px solid #444;
  border-radius: 10px;
}

/* Footer */
#main-footer {
  text-align: center;
  color: #fff;
  height: 60px;
  background: #333;
}
#main-footer p {
  padding: 1em;
}
