* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.container {
  max-width: 1300px;
  min-width: 500;
  padding: 0 80px;
  margin: auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.sticky {
  position: fixed;
}
section {
  padding: 100px 0;
}
#navbar {
  position: fixed;
  width: 100%;

  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  font-family: "Ubuntu", sans-serif;
  padding: 30px 0;
  transition: all 0.3s ease;
}
#navbar.sticky {
  padding: 15px 0;
  background: crimson;
}
#navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
#navbar #nav-links {
  display: flex;
}

#navbar #nav-links li a {
  margin: 30px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-weight: 500;
  transition: color 0.3s ease;
}
#navbar #nav-links li a:hover {
  color: blue;
  font-weight: 900;
}
#navbar .logo a {
  color: white;
  font-size: 35px;
  font-weight: 600;
}
/* menu-btn styling */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
/* Home Section  */
.home {
  display: flex;
  justify-content: space-around;
  background: url("/img/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  font-family: "Ubuntu", sans-serif;
}
.home .container {
  width: 100%;
  display: flex;
}
.home-intro {
  transition: all 3s ease;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  color: crimson;
  font-weight: 500;
}
/* Footer */
footer p {
  font-family: calibri;
}
footer p:nth-child(1) {
  font-size: 30px;
  font-weight: bold;
  color: #191919;
  line-height: 10px;
}
footer p:nth-child(2) {
  font-size: 16px;
  color: #7e7d7d;
  width: 600px;
  text-align: center;
}
footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.social-icons a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e3e3;
  margin: 20px 10px;
  border-radius: 50%;
}
.social-icons {
  display: flex;
}
.social-icons i,
.social i {
  color: #000000;
}
.social-icons a:hover {
  background-color: #000000;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  transition: all ease 0.5s;
}
.social-icons a:hover i,
.social a:hover i {
  color: #ffffff;
  transition: all ease 0.5s;
}

.copyright {
  color: #565555;
  font-size: 12px;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}
.social {
  position: fixed;
  top: 40%;
  right: 0px;
  transform: translateY-(40%);
}
.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  line-height: 0px;
  background-color: #ffffff;
  border: 1px solid #cbcbcb;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
.social a:hover {
  background-color: #000000;
  transition: all ease 0.5s;
}
.social i {
  font-size: 20px;
  color: #2b2b2b;
}

/* Responsive */
@media (max-width: 1104) {
  .home .container {
    padding: 0px;
  }
}
@media (max-width: 991) {
  .home .container {
    padding: 0 50px;
  }
}
@media (max-width: 947px) {
  .social {
    display: none;
  }
  .container {
    padding: 0 50px;
  }
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active::before {
    content: "\f00d";
  }
  #navbar #nav-links {
    display: block;
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 0;
    top: -100%;
    background: #333;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  #navbar #nav-links.active {
    top: 0;
  }
  #navbar #nav-links li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
}
@media (max-width: 690px) {
  #navbar {
    padding: 10px;
  }
  .container {
    padding: 0 20px;
  }
  .home .home-content .text-2 {
    font-size: 60px;
  }
  .home .home-content .text-3 {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .container {
    padding: 0 5px;
  }
  .home .home-content .text-2 {
    font-size: 50px;
  }
  .home .home-content .text-3 {
    font-size: 20px;
  }
}
